h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: horizontal;
    background-image:url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
   

}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color:white;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

.price {
    font-family: Helvetica;
    font-weight: bold;
    color:blue;
    display: inline;
}

p {
    display: inline;
}

h3, p {
    font-family: Helvetica;
}